/* global reset */
:root {
  --bg: #efbef1;
  --gleft: #965cf2;
  --gright: #ff8adc;
  --blue: #3e4794;
  --navColor: #1f2873;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.main-div {
  width: 100vw;
}
/* navabar */
nav {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
}
.nav-items {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.nav-item {
  font-size: 1rem;
  color: var(--navColor);
}
.signin-btn {
  background: linear-gradient(90deg, var(--gleft), var(--gright));
  padding: 10px 30px;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  border-radius: 100px;
  margin-right: 20px;
}
/* hero section */
.intro-section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}
.left-section h1 {
  font-size: 5rem;
  font-display: swap;
  color: var(--blue);
  font-weight: 700;
}
.left-section h4 {
  color: #414141;
  font-size: 1rem;
  margin-top: 40px;
  line-height: 30px;
}
.learn-more-btn {
  background: linear-gradient(90deg, var(--gleft), var(--gright));
  padding: 20px 40px;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 100px;
  margin-top: 30px;
}
.imgs-div {
  background-image: url(../images/backcover.svg);
  background-repeat: no-repeat;
  width: 60%;
}
.vector-img {
}
.vector-dot {
}
.intro-img {
}
/* responsive design */
@media screen and (max-width: 1140px) {
  .nav-items {
    display: none;
  }
  .logo {
    width: 100px;
    margin-left: 10px;
  }
  .signin-btn {
    margin-right: 10px;
  }
}

/* smaller screen */
@media screen and (max-width: 980px) {
  nav {
    justify-content: space-between;
  }
  .vector-img {
    display: none;
  }
  .vector-dot {
    display: none;
  }
  .imgs-div {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .intro-img {
    width: 80vw;
  }
  .intro-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
  .left-section {
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .left-section h1 {
    margin-top: 10px;
    font-size: 3rem;
    width: 100%;
  }
  .left-section h4 {
    line-height: normal;
    font-size: 0.8rem;
  }
  .learn-more-btn {
    font-size: 1rem;
  }
}

html,
body {
  overflow-x: hidden;
}
